<h1 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif; padding-top: 3%; font-size: 39px; padding-right: 10%;">Componente aplicación</h1>
<br><br>
<div class="row">
  <p style="font-family: Arial, Helvetica, sans-serif; padding-left: 16%; padding-right: 22%; padding-bottom: 2%; font-size: 18px; color: blueviolet">Esto es una aplicación de página única(SPA - Single Page Application) desarrollada en  angular en el que establece comunicación entre sus componentes y servicios. Si escribimos en el componente hijo A se verá reflejado en el componente hijo B, con las opciones de cambiar a mayúsculas y minúsculas la cadena.</p>
  <br><br>
  <div class="col-5" style="display: flex; flex-direction: row; justify-content: space-evenly">
    <p></p>
    <app-hijo-a></app-hijo-a>
  </div>
  <div class="col-5" style="display: flex; flex-direction: row; justify-content: space-evenly">
    <app-hijo-b></app-hijo-b>
  </div>
</div>